// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

h1 {
  color: gray;
  font-family: 'Roboto', sans-serif;
}

p {
  color: #6b6a6a;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

